/* here's tp to the section */
.guide ul {
  padding: 0px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  column-gap: 50px;
  font-weight: bold;
  border-bottom: 2px solid violet;
}

.guide a {
  color: black;
}

.guide li {
  transition: 0.3s all;
}
.guide li:hover {
  background-color: rgb(208, 208, 208);
  border-radius: 5px;
}
/* ------------------------------------ */

.myItem {
  min-height: 90dvh;
}

/* here is the pic basic setting */
.myItem-pic-all,
.myItem-pic-type {
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
  transition: 0.5s all ease;
}

/* ------------------------------------ */

/* and you can change the background img here */
.myItem-pic-all {
  background-image: url(./images/item1.jpg);
}
.myItem-pic-type {
  background-image: url(./images/item2.jpg);
}

/* ------------------------------------ */
/* here's the img hover */
.myItem-pic-all:hover,
.myItem-pic-type:hover {
  opacity: 1;
}

/* ------------------------------------ */

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}
.item-info h2 {
  margin-bottom: 50px;
  font-size: 4rem;
}
.item-info p {
  letter-spacing: 1px;
  line-height: 30px;
}
@media screen and (max-width: 575px) {
  .item-info h2 {
    font-size: 3rem;
  }
  .item-info p {
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
  }
  .item-info {
    padding: 0;
  }
}
@media screen and (max-width: 661px) {
  .item-info h2 {
    font-size: 3rem;
  }
  .item-info p {
    letter-spacing: 0.5px;
    line-height: 20px;
  }
  .item-info {
    padding: 0 100px;
  }
}
.item-info button {
  background-color: transparent;
}
/* footer what are we doing this for */

.reason {
  height: 100dvh;
}
.reason-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reason-info h2 {
  font-size: 4rem;
  font-style: italic;
}
.reason-info p {
  letter-spacing: 1px;
  padding: 20px;
}
@media screen and (max-width: 575px) {
  .reason-info h2 {
    font-size: 3rem;
    font-style: italic;
  }
  .reason-info p {
    letter-spacing: none;
    padding: 20px;
    margin-bottom: 25px;
    text-align: center;
  }
}
