.user-bg {
  background-image: url(./images/user-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.login {
  height: 80dvh;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-lnfo h2 {
  font-weight: bold;
  margin-bottom: 25px;
}
.user-lnfo {
  font-size: 1.2rem;
  color: white;
  background-color: rgba(173, 216, 230, 0.214);
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 20px;
}
.user-lnfo form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
.user-lnfo input {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 10px;
  width: 200px;
  background-color: transparent;
  color: white;
}

.user-lnfo p {
  text-align: right;
}
.user-lnfo a {
  color: white;
}
